h1 {
    color: #D04F4F;
    font-family: system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin-top: 5px;
}

h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}

h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    width: 50%;
    overflow: scroll;
    height: 100px;
}